
<html>
<head>
  <title>三3将棋</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" >
    <svg width="800" height="800">
      <g @move="alert('abc')" transform = "translate(100,100)">
	<rect v-for="x in Array(9).keys()" :x="100+100*(x%3)" v-bind:y="100+100*parseInt(x/3)" width = "100" height="100" stroke="black" fill="white"></rect>
	<fu v-for="f in fu" :teban="f.teban" :x="f.x" :y="f.y"></fu>
      </g>
    </svg>
  </div>
  <script src="Shogi.js"></script>

</body>
</html>
